@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: relative; /* Ensure proper layering */
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/droppage-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px); /* Adjust the blur radius as needed */
    z-index: -1; /* Ensure it stays behind the content */
}

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }

    .box {
        position: relative;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55%;
    }

    .box2 {
        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1420px;
    }

    .box4 {
        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1420px;
    }

    .box img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;    }

    .text-overlay {
        position: absolute;
       /* top:-10%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        color: white;
        font-size: 68px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        width: 50%;
    }

    .slider-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        transition: right 0.5s ease;
        padding: 20px;
        z-index: 1000;
    }

    .slider-header {
        font-size: 90px;
        font-family: "Lexend Deca";
        color: white;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 600;
    }

    .slider-option {
        font-family: "Lexend Deca";
        padding: 50px;
        font-size: 65px;
        font-weight: bold;
        color: white;
        background: none;
        cursor: pointer;
        border: 2px solid #fff;
        border-radius: 10px;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
    }

    .slider-option:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .slider-option.disabled {
        background-color: rgba(128, 128, 128, 0.5);
        cursor: not-allowed;
    }

    .close-btn {
        position: absolute;
        top: 30px;
        right: 80px;
        font-size: 80px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        border: 3px solid white;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1010;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .close-btn:hover {
        background-color: rgba(255, 255, 255, 0.3); /* Light background on hover */
        border-color: rgba(255, 255, 255, 0.7); /* Lighten the border on hover */
    }

    .heading h2 {
        text-align: left;
        font-family: "Lexend Deca";
        font-size: 61px;
        font-weight: 600;
        color: #945B2B;
        /* left: 10px; */
        /* margin-left: -352px; */
        width: 1022px;
        margin-bottom: -7px;
    }

    .para p {
        text-align: justify;
        font-family: "Lexend Deca";
        font-size: 40px;
        font-weight: 500;
        color: #000;
        padding: 0px 5px;
    }

    #startJourneyButton {
        font-family: "Lexend Deca";
        margin-top: 20px;
        padding: 31px 49px;
        font-size: 54px;
        font-weight: 600;
        color: white;
        background-color: #B6B6B6;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        opacity: 0.5;
        pointer-events: none;
        width: 96%;
/*        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);*/
box-shadow: 10px 5px 5px black;
    }

    #startJourneyButton.active {
        background-color: #BE4747; /* Active blue color */
        opacity: 1;
        pointer-events: auto; /* Enable clicks */
    }

    .arrow {
      position: relative;
      width: 55px;
      height: 55px;
      margin-right: -2px;
    }

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

.popup-content {
    background: #fff;
    width: 58%;
    /* max-width: 1200px; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
    /* max-height: 90%; */
    height: auto;
    border-radius: 30px;
}

    .popup-content h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .popup-section {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .line {
        flex: 1;
        text-align: center;
        margin: 0 10px;
    }

    .line h3 {
        font-size: 52px;
        margin-bottom: 57px;
    }

.line button {
    /* display: block; */
    width: 83%;
    margin: 16px 0;
    padding: 39px;
    font-size: 43px;
    background: #4a4a9c;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

    .line button:hover {
        background: #3a3a7c;
    }

    button.disabled {
        background-color: gray; /* Gray background for disabled buttons */
        cursor: not-allowed;    /* Change cursor to indicate non-clickable */
        opacity: 0.5;           /* Reduce opacity for visual clarity */
    }

    /* Popup styling */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust as needed */
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.popup-content {
    position: relative;
    padding: 20px;
}

/* Go Back button styling */
.go-back {
    position: absolute;
    bottom: 20px; /* Adjust the position inside the popup */
    right: 20px; /* Adjust the position inside the popup */
    width: 80px;
    height: 80px;
    background: #b33a3a;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.go-back:hover {
    background: #a32828;
    transform: scale(1.1);
}

.go-back i {
    font-size: 35px; /* Arrow icon size */
    color: white;
}


/**/
.gifarrow{
    position: absolute;
    rotate: 180deg;
    width: 112px;
    margin-top: 346px;
}


    .close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        background: red;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .close-popup:hover {
        background: darkred;
    }

    .station-sel h2 {
        font-family: "Lexend Deca";
        font-size: 76px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 100px;
    }

    button.disabled {
    background-color: gray; /* Gray background for disabled buttons */
    cursor: not-allowed;    /* Change cursor to indicate non-clickable */
    opacity: 0.5;           /* Reduce opacity for visual clarity */
    }



/*marqueee*/
.marquee h2{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #f0f0f0;
    animation: marquee 0.1s linear infinite;
    padding: 5px 0;
}

.marquee p {
    display: inline-block;
    animation: marquee 0.5s linear infinite;
    font-size: 16px;
    color: #ff0000;
}



@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}




/*for station show top btm*/

/* General style for the station display */
.station-display1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    display: none;  /* Hide by default */
    width: 100%;
    color: #c3c3c3c;
    position: absolute;
    text-transform: uppercase;
}

.station-display2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    display: none;  /* Hide by default */
    width: 100%;
    color: #c3c3c3c;
    position: absolute;
    text-transform: uppercase;
}

.station-display1 svg {
    width: 65%;
    height: auto;
}

.station-display1 text {
    font-size: 28px;
    fill: #000; /* Text color */
    font-weight: bold;
}

.station-display2 svg {
    width: 65%;
    height: auto;
}

.station-display2 text {
    font-size: 28px;
    fill: #000; /* Text color */
    font-weight: bold;
}


/* Specific styles for the centered main station */
.center {
    display: block;
    font-size: 28px;  /* Adjust font size if needed */
    animation: rainbowCurve 5s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Apply the rainbow effect only when a station is selected */
.rainbow-curve {
    display: block;
    font-size: 28px;  /* Adjust font size if needed */
    animation: rainbowCurve 5s infinite;
}

/* Define the animation for the rainbow curve */
@keyframes rainbowCurve {
    0% {
        transform: translateY(0);
/*        background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);*/
    }
    50% {
        transform: translateY(-10px);
/*        background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);*/
    }
    100% {
        transform: translateY(0);
/*        background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);*/
    }
}

/* Adjust visibility for top and bottom sections */
#stationDisplayTop {
    display: block;
    font-size: 53px;
    margin-top: -910px;
    transform: rotate(-1 * angle / 2);
/*transform: rotate(calc(180deg / var(--lettersCount) * var(--index)));*/
}

#stationDisplayBottom {
    display: block;
    font-size: 28px;
    margin-top: 1000px;
}





        /* Mobile Styles */

/* Media Query for Small Screens (Mobile) */
@media only screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        width: 90%;
        margin-top: 20px;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
        height: 150px;
    }

    .box2 {
        width: 100%;
        margin-top: -23px;
        margin-bottom: 47px;
        background-color: rgba(255, 255, 255, 0.4); /* Light transparent white */
    }

        .box4 {
        width: 45%;
        margin-top: 156px;
        float: right;
        display: block;
        margin-right: -188px;
    }



    .box img {
        height: 473px;
        margin-top: 99px;
        margin-top: 215px;
    }

    .text-overlay {
        font-size: 40px;
        top: 70%;
        transform: translate(-50%, -50%);
    }

    #nextButton {
        padding: 20px 40px;
        font-size: 40px;
        width: 80%;
        margin: 20px auto;
    }

    .popup-content {
        width: 80%;
        padding: 15px;
        font-size: 16px;
    }

    .popup-section {
        flex-direction: column;
        align-items: center;
    }

    .line {
        width: 100%;
        margin-bottom: 20px;
    }

    .line button {
        width: 86%;
        font-size: 36px;
        padding: 20px;
    }

    .heading h2 {
    text-align: justify;
    font-family: "Lexend Deca";
    font-size: 22px;
    font-weight: 600;
    color: #945B2B;
    /* left: 10px; */
    /* margin-left: -352px; */
    width: 100%;
    margin-bottom: -7px;
}

    .para p {
        font-size: 22px;
        padding: 0 10px;
    }

    .go-back {
        width: 60px;
        height: 60px;
        font-size: 30px;
        padding: 10px;
    }

    .popup-overlay {
        align-items: flex-start;
    }

        .station-sel h2 {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .line h3 {
    font-size: 20px;
    margin-bottom: 10px;
    }

    .line button {
        font-size: 15px;
        padding: 11px;
    }

    .popup-section {
        max-height: 80vh; /* Adjust height for mobile view */
        overflow-y: scroll; /* Ensure scrolling on small screens */
    }

    .line {
        flex: 1;
    }

    .text-overlay {
        font-size: 20px;
    }
}

/* Media Query for Extra Small Screens (Very small mobile or portrait mode) */
@media only screen and (max-width: 480px) {

    #nextButton {
        padding: 15px 30px;
        font-size: 30px;
    }

    .popup-content {
        width: 90%;
    }

    .popup-section {
        margin-bottom: 10px;
    }

  

    .heading h2 {
        font-size: 20px;
        padding-left: 16px;
    }

    .para p {
        font-size: 15px;
    }

    .go-back {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

        #nextButton {
        padding: 15px 30px;
        font-size: 11px;
    }
}